/*******************************************************************************
******************************* COLOUR VARIABLES *******************************
*******************************************************************************/
$primary: #201E4A;
$primarylight: rgba(32, 30, 74, 0.8);
$secondary: #F2F4F8;
$darkblue: #0D2033;
$lightgray: #ECECEC;

/*******************************************************************************
******************************* FONTS VARIABLES *******************************
*******************************************************************************/
$fontX: 12px;
$fontS: 14px;
$fontM: 16px;
$fontL: 18px;
$fontXX: 20px;
$fontXS: 22px;
$fontXM: 25px;
$fontXL: 26px;
$fontSX: 30px;
$fontSS: 35px;
$fontSM: 38px;
$fontSL: 40px;
$fontMX: 60px;
$fontMS: 50px;
$resfontMS: 10px;
$resfontMM: 11px;
$resfontML: 13px;
$resfontLX: 15px;
$resfontLS: 24px;
$resfontLM: 28px;
$resfontLL: 32px;
$resfontXXX: 42px;
/*******************************************************************************
******************************* LINE HEIGHT *******************************
*******************************************************************************/
$leadingX: 22px;
$leadingS: 24px;
$leadingM: 26px;
$leadingL: 28px;
$leadingXX: 30px;
$leadingXS: 32px;
$leadingXM: 34px;
$leadingXL: 40px;
$leadingSX: 50px;
$leadingSS: 72px;

$resleadingSM: 15px;
$resleadingSL: 20px;
$resleadingMX: 36px;
$resleadingMS: 42px;
/*******************************************************************************
******************************* BORDER RADIOUS *******************************
*******************************************************************************/
$radiusX: 10px;
$radiusS: 16px;
$radiusM: 20px;
$radiusL: 24px;
$radiusXX: 25px;
$radiusXS: 26px;
$radiusXM: 29px;

/*******************************************************************************
******************************* ANIMATION VARIABLES ****************************
*******************************************************************************/
@mixin generate-transition($name, $duration, $type) {
    -webkit-transition: $name $duration $type;
    /* Safari 4+ */
    -moz-transition: $name $duration $type;
    /* Fx 5+ */
    -o-transition: $name $duration $type;
    /* Opera 12+ */
    transition: $name $duration $type;
    /* IE 10+, Fx 29+ */
}

@mixin generate-animation-delay($seconds) {
    -webkit-animation-delay: $seconds;
    /* Safari 4+ */
    -moz-animation-delay: $seconds;
    /* Fx 5+ */
    -o-animation-delay: $seconds;
    /* Opera 12+ */
    animation-delay: $seconds;
    /* IE 10+, Fx 29+ */
}

@mixin backdrop-filter($blur) {
    -webkit-backdrop-filter: $blur;
    -moz-backdrop-filter: $blur;
    -ms-backdrop-filter: $blur;
    -o-backdrop-filter: $blur;
    backdrop-filter: $blur;
}

@mixin generate-placeholder($color, $fontsize) {
    &::-webkit-input-placeholder {
        color: $color;
        font-size: $fontsize;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        color: $color;
        font-size: $fontsize;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $color;
        font-size: $fontsize;
    }

    &:-ms-input-placeholder {
        color: $color;
        font-size: $fontsize;
    }
}

@mixin generate-scale-transition() {
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1);
}

@mixin generate-transform($transform) {
    -webkit-transform: $transform;
    /* Safari and Chrome */
    -moz-transform: $transform;
    /* Firefox */
    -ms-transform: $transform;
    /* IE 9 */
    -o-transform: $transform;
    /* Opera */
    transform: $transform;
}

@mixin generate-filter($filter) {
    -webkit-filter: $filter;
    filter: $filter;
    -moz-filter: $filter;
    -o-filter: $filter;
}

$enable-negative-margins: true;