button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.btnX {
    height: 51px;
    line-height: 51px;

    @include media-breakpoint-down(lg) {
        height: 30px !important;
        line-height: 30px !important;
    }

    &.btnM {
        height: 58px;
        line-height: 58px;
    }

    &.transparent-btn {
        background-color: transparent !important;

        &:hover {
            background-color: $primary !important;
        }
    }

    &.white-border {
        border: 1px solid $white;

        &:hover {
            border: 1px solid $primary;
        }
    }

    &.primary-border {
        border: 1px solid $primary;

        &:hover {
            border: 1px solid $primary;
            color: $white !important;
        }
    }

    &.bgprimary-border {
        border: 1px solid $primary;

        &:hover {
            border: 1px solid $primary;
            color: $primary !important;
            background-color: transparent !important;
        }
    }

    &.bgwhite-border {
        background: transparent;
        border: 1px solid $white;

        &:hover {
            color: $black !important;
            background: $white;
            border: 1px solid $white;
        }
    }
}

.slider-custom-btn {
    button {
        @include media-breakpoint-down(lg) {
            width: 30px;
            height: 30px;

            svg {
                width: 30px;
                height: 30px;
            }
        }

        &:hover {
            svg {
                .inner-round {
                    fill: $primary !important;
                }

                .inner-arrow {
                    fill: $white !important;
                }
            }
        }
    }
}

.filter-button-project {
    button {
        opacity: 0.15;
        height: 30px;
        line-height: 32px;

        &.highlight {
            opacity: 1 !important;
        }

        &:hover {
            opacity: 1 !important;
        }
    }
}

.scroll-down-btn {
    animation: identifier 1s ease-in-out infinite;
    margin-top: 0;
    opacity: 0;

    @include media-breakpoint-down(lg) {
        width: 30px !important;
        height: 30px !important;

        img {
            width: 100% !important;
            height: 100% !important;
        }
    }

    @keyframes identifier {
        0% {
            margin-bottom: -20px;
            opacity: 0;
        }

        100% {
            margin-top: -20px;
            opacity: 1;
        }
    }
}