button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.btnX {
    height: 51px;
    line-height: 51px;

    &.transparent-btn {
        background-color: transparent !important;

        &:hover {
            background-color: $primary !important;
        }
    }

    &.white-border {
        border: 1px solid $white;

        &:hover {
            border: 1px solid $primary;
        }
    }

    &.primary-border {
        border: 1px solid $primary;

        &:hover {
            border: 1px solid $primary;
            color: $white !important;
        }
    }

    &.bgprimary-border {
        border: 1px solid $primary;

        &:hover {
            border: 1px solid $primary;
            color: $primary !important;
            background-color: transparent !important;
        }
    }
}

.slider-custom-btn {
    button {
        &:hover {
            svg {
                .inner-round {
                    fill: $primary !important;
                }

                .inner-arrow {
                    fill: $white !important;
                }
            }
        }
    }
}

.filter-button-project {
    button {
        opacity: 0.15;

        &.highlight {
            opacity: 1 !important;
        }

        &:hover {
            opacity: 1 !important;
        }
    }
}