.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.image-content {
    .card-img {
        height: 555px;
        width: 555px;
    }

    &.left-image-content {
        .card-img {
            .inner-img {
                width: 277px;
                height: 277px;
                bottom: 60px;
                right: -60px;
            }
        }
    }

    &.right-image-content {
        .card-img {
            .inner-img {
                width: 277px;
                height: 277px;
                bottom: 60px;
                left: -60px;
            }
        }
    }
}

.single-project {
    height: 413px;
}

.other-service {
    .service-img {
        height: 380px;
    }
}