.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.image-content {
    .card-img {
        height: 555px;
        width: 555px;

        @include media-breakpoint-down(lg) {
            height: 320px;
            width: 320px;
        }
    }

    &.left-image-content {
        .card-img {
            .inner-img {
                width: 277px;
                height: 277px;
                bottom: 60px;
                right: -60px;

                @include media-breakpoint-down(lg) {
                    width: 160px;
                    height: 160px;
                    bottom: 30px;
                    right: -30px;
                }
            }
        }
    }

    &.right-image-content {
        .card-img {
            @include media-breakpoint-down(lg) {
                margin-left: 30px;
            }

            .inner-img {
                width: 277px;
                height: 277px;
                bottom: 60px;
                left: -60px;

                @include media-breakpoint-down(lg) {
                    width: 160px;
                    height: 160px;
                    bottom: 30px;
                    left: -30px;
                }
            }
        }
    }
}

.single-project {
    height: 413px;

    @include media-breakpoint-down(lg) {
        height: 248px;
    }
}

.other-service {
    .service-img {
        height: 380px;

        @include media-breakpoint-down(lg) {
            height: 220px;
        }
    }
}

.single-team-card {
    .team-img {
        height: 303px;

        @include media-breakpoint-down(lg) {
            height: 206px;
        }
    }
}