.vacancies-cards {
    padding: 52px 110px 90px 50px;

    @include media-breakpoint-down(lg) {
        padding: 58px 20px 55px 20px;
    }

    &:last-child {
        margin-bottom: 0 !important;
    }

    .vacancies-data {
        @include media-breakpoint-up(lg) {
            border-left: 1px solid rgba(112, 112, 112, 0.21);
        }
    }

    .vacancies-content {
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            height: 60%;
            width: 100%;
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 22%, rgba(255, 255, 255, 0.01) 100%);
            transition: all 0.3s ease-in-out;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }

        &.active {
            &::before {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

li {
    &:last-child {
        margin-bottom: 0 !important;
    }
}