.single-blog-sec {
    .investing-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-breakpoint-up(lg) {
            height: calc(100vh - 250px);
            top: 156px;
        }

    }

    .resource-single-img {
        height: 520px;

        @include media-breakpoint-down(lg) {
            height: 377px;
        }

        @include media-breakpoint-down(md) {
            height: 333px;
        }
    }

    .download-button {
        height: 58px;
        line-height: 58px;
    }
}

.label {
    border: 1px solid $lightgray;
}