.single-service {
    a {
        box-shadow: 0px 0px 20px #0000000A;

        .service-card {
            height: 244px;
        }

        .inner-content {
            padding: 47px 26px 50px 31px;
        }
    }
}